<a href="https://colab.research.google.com/github/titsitits/UNamur_Python_Analytics/blob/master/0_first_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebooks iPython

Pour exécuter une cellule de code, sélectionner la cellule et :
* appuyer sur le bouton ![Texte alternatif…](https://raw.githubusercontent.com/titsitits/UNamur_Python_Analytics/master/Images/button1.jpg) apparaissant à gauche
* ou utiliser le raccourcis Maj+Enter (ou Ctrl+Enter pour rester sur la cellule après exécution)

In [57]:
hello = 'Hello World!'
print(hello)

Hello World!

Pour ajouter une cellule, utiliser les boutons de contrôle du menu principal:

![Texte alternatif…](https://raw.githubusercontent.com/titsitits/UNamur_Python_Analytics/master/Images/menu1.jpg) 

ou le menu apparaissant sous une cellule existante:

![Texte alternatif…](https://raw.githubusercontent.com/titsitits/UNamur_Python_Analytics/master/Images/menu2.jpg)

# Bases de Python

## Types de données de base

### Assignation dynamique
* Pas besoin de définir le type, l'interpréteur Python comprend tout seul

In [0]:
my_int = 3
my_float = 1.23
my_bool = True
my_string = "hello world"

In [59]:
print(my_int, my_float, my_bool, my_string)

3 1.23 True hello world

In [60]:
type(my_string)

str

### Assignation dynamique de type
* On peut modifier dynamiquement le type des variables

In [71]:
my_string = 5.0
type(my_string)

float

In [0]:
my_int1 = 1
my_int2 = 3
my_float1 = 4.2
my_bool = True
my_string1 = '5'
my_string2 = '42'
my_string3 = "hello world!"

In [122]:
whos

Variable     Type     Data/Info
-------------------------------
a            int      1
b            int      3
c            float    4.2
copy         str      f
d            str      5
e            str      42
hello        str      Hello World!
my_bool      bool     True
my_float     float    1.23
my_float1    float    4.2
my_int       int      3
my_int1      int      1
my_int2      int      3
my_string    float    5.0
my_string1   str      5
my_string2   str      42
my_string3   str      hello world!
myfloat      float    1.1
mytext       str      \nCeci est un commentaire\nde plusieurs lignes\n
result       float    1.25

In [123]:
#Ceci est un commentaire

"""
Ceci est un commentaire
de plusieurs lignes
"""

'\nCeci est un commentaire\nde plusieurs lignes\n'

### Opérations

In [92]:
my_int1 + my_int2

4

In [94]:
my_int1 + my_float1

5.2

In [186]:
my_float1 + my_bool

5.2

In [110]:
result = (my_int1 + my_int2 - 3.5) * 5 / 2
result

1.25

In [115]:
#Exposant
result ** 50

70064.92321624086

In [173]:
#Modulo
11%3

2

In [177]:
#La division entière renvoie un float (contrairement au langage C)
int(8)/int(3)

2.6666666666666665

In [133]:
my_string2 * my_int2 + my_string3 + " Python is awesome."

'424242hello world! Python is awesome.'

In [295]:
#Les opérations invalides renvoient une erreur (décommenter la ligne suivante pour tester)
#my_int1 + my_string1

TypeError: ignored

In [182]:
#Incrémentation
my_int1 += 1
my_int

7

### Conversion de types (casting)

In [191]:
str(my_int1)+my_string1

'15'

In [192]:
my_int1 + int(my_string1)

6

In [193]:
int(3.5), float("3.5"), str(3.5), int(True), int(False), bool(4.2), bool(-2), bool(0)

(3, 3.5, '3.5', 1, 0, True, True, False)

# Conditions
* test d'égalité: ==
* test d'inégalité: !=
* test de supériorité et infériorité stricte: > et <
* inférieur/supérieur ou égal: <= et >=

In [297]:
 a= 42

a == 42, a != 42, a > 3, a <= 42

(True, False, True, True)

In [298]:
print(not True)

print((a > 41) and (a < 43))

print((a == 42) or (a == 43))

False
True
True

* conditions en chaîne: if, else
* Attention à l'indentation! Ce qui est indenté dépend de la condition

In [299]:
condition = True
#condition = a == 43

if condition:
  print("C'est vrai!")
  
if condition == True:
  print("C'est vraiment vrai!")  
  
if condition == False:
  print("C'est faux!")
  
if not condition:
  print("Ce n'est pas vrai!")

C'est vrai!
C'est vraiment vrai!

In [300]:
a = 4

if a < 5:
	print("a est plus petit que 5")
elif a <= 10:
	print("a est plus petit ou égal à 10")
else:
	print("a est plus grand que 10")

a est plus petit que 5

# Boucles
* while: on continue tant qu'on respecte une condition
* for: on boucle itérativement sur un ensemble d'éléments

In [301]:

count = 0
while count < 5:
	print("Je suis dans une boucle while depuis " + str(count) + " itérations")
	count += 1
  

count = 0
while True:
	print(count)
	count += 1
	if count >= 10:
		break

Je suis dans une boucle while depuis 0 itérations
Je suis dans une boucle while depuis 1 itérations
Je suis dans une boucle while depuis 2 itérations
Je suis dans une boucle while depuis 3 itérations
Je suis dans une boucle while depuis 4 itérations
0
1
2
3
4
5
6
7
8
9

In [247]:
for i in range(0, 5):

  print("Je suis à l'itération", i)

Je suis à l'étape 0
Je suis à l'étape 1
Je suis à l'étape 2
Je suis à l'étape 3
Je suis à l'étape 4

In [276]:
#Estimation de pi: pi ~ 4*(1-1/3+1/5-1/7+1/9-...)


k=3
series=1

for i in range(10):
  
    series = series - 1/k + 1/(k+2)
    k+=4
    
    pi = 4*series
    print(pi, end = ' ')

print('')
print(pi)

3.466666666666667 3.3396825396825403 3.2837384837384844 3.2523659347188767 3.232315809405594 3.2184027659273333 3.208185652261944 3.200365515409549 3.1941879092319425 3.189184782277596
3.189184782277596

#Listes

In [277]:
#Pour déclarer une liste d'élément, on utilise des crochets []
my_list = [1, 3, 5, 7]
my_list

[1, 3, 5, 7]

In [278]:
# Une liste peut contenir différents types de données
my_list2 = [3.14, 42, my_list, True, 'Hello World!']
my_list2

[3.14, 42, [1, 3, 5, 7], True, 'Hello World!']

In [279]:
#La fonction len() permet de connaître la longueur d'une liste
len(my_list)

4

## Accès aux données d'une liste
* L'opérateur [x] permet d'accéder aux éléments d'une liste
* Attention: l'indexation commence à 0
* Une erreur est renvoyée si l'indice est invalide
* Un indice négatif démarre de la fin de la liste
* Le symbole ":" permet d'accéder à plusieurs éléments consécutifs

In [280]:
my_list[0]

1

In [281]:
my_list[2]

5

In [0]:
#Une erreur est obtenue si l'indice est invalide
#my_list[4]

In [283]:
#Un indice négatif part de la fin d'une liste
my_list[-1], my_list[-2]

(7, 5)

In [284]:
#On peut accéder à plusieurs éléments d'une liste en utilisant un colon (:)
print(my_list[1:3]) #permet d'accéder aux éléments entre les indices 1 et 3 (3 exclu)
print(my_list[1:]) #permet d'accéder aux élements à partir de l'indice 1 (jusqu'au dernier)
print(my_list[:2]) #permet d'accéder aux éléments du premier jusqu'à l'indice 2
print(my_list[:]) #permet d'accéder à tous les éléments

[3, 5]
[3, 5, 7]
[1, 3]
[1, 3, 5, 7]

## Manipulation de listes
* Addition (+) = concaténation: [1,2] + [3,4] = [1,2,3,4]
* Multiplication (\*) = multiple concaténation: [1,2]\*2 = [1,2,1,2]
* Opération élémentaire => compréhension de liste: [i*4 for i in my_list]

In [285]:
#Additionner des listes résulte en une concaténation
my_list+[4, 5]

[1, 3, 5, 7, 4, 5]

In [286]:
#Naturellement, la multiplication résulte en une multiple concaténation
my_list*2, [0]*10

([1, 3, 5, 7, 1, 3, 5, 7], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [0]:
#On ne peut pas additionner un entier à une liste
#my_list + 4

In [289]:
#Pour réaliser une opération sur chaque élément d'une liste, on peut utiliser une "list-comprehension"
my_list_plus_4 = [i + 4 for i in my_list]
my_list_plus_4

[5, 7, 9, 11]

## Tuples

In [141]:
#L'utilisation de parenthèses permet de déclarer un tuple
my_tuple = (1, 3, 5, my_string3)
my_tuple

(1, 3, 5, 'hello world!')

In [170]:
# Les parenthèses sont conventionnelles mais ne sont cependant pas nécessaires
my_tuple = 1, 3, 5, my_string3
my_tuple

(1, 3, 5, 'hello world!')

## Conditions