<a href="https://colab.research.google.com/github/titsitits/UNamur_Python_Analytics/blob/master/1_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mickaël Tits
CETIC
mickael.tits@cetic.be

#Instructions

* Les instructions permettent de commander l'interpréteur Python, c'est-à-dire un système qui comprend les instructions et les traduit en traitements sur des données binaires.
* Par défaut, chaque ligne de code correspond à une instruction
* Les instructions sont interprétées séquentiellement par l'interpréteur Python.
* Il existe différents types d'instructions, telles que des assignations de variables, des appels de fonctions, des conditions, des boucles, etc. que nous allons voir ci-dessous.

In [152]:
#Assignation d'une variable
variable = 3

#Appel d'une fonction de base, "print", qui permet d'imprimer la variable dans la console
print(variable)

3

In [179]:
#plusieurs instructions sur une seule ligne, avec le symbole ;
a = 1; b = 2; c = 3

#Une instruction sur plusieurs lignes, avec le symbole \
print(a + b \
     + c)

6

In [0]:
#Oups: variable2 n'existe pas
print(variable + \
     variable2)

In [154]:
variable2 = 5
print(variable + \
     variable2)

8

In [153]:
variable2

5

Les identifiants d'une variables s'écrivent en un mot, peuvent contenir des lettres, des nombres, et "_", mais ne peuvent pas commencer par un nombre. Ils ne peuvent pas contenir de symboles spéciaux tels que !, @, #, $, %.

In [159]:
_variable = 1
#Oups: idantifiants invalides
2variable = 1
v@ri@ble = 1

SyntaxError: ignored

In [175]:
#Oups, j'ai redéfini une fonction de base
print = 1
print("salut")

TypeError: ignored

In [0]:
#supprimer une variable
del print

In [177]:
print("salut")

salut

In [178]:
#Oups, j'ai utilisé un mot-clé comme nom de variable
del = 1

SyntaxError: ignored

# Types de données de base

* Booléen (bool): True, False
* Nombre entier (int): -42, 0, 1, 42, 1000
* Nombre décimal à virgule flottante (float): 42.0, 3.14, -0.01
* Chaîne de caractères (string): "Hello World!" ou 'Hello World!' ou """Hello World!""" ou '''Hello World!'''

## Assignation dynamique
* Pas besoin de définir le type d'une variable, l'interpréteur Python comprend tout seul

In [0]:
my_int = 3
my_float = 1.23
my_bool = True
my_string = "hello world"

In [2]:
my_int, my_float, my_bool, my_string

(3, 1.23, True, 'hello world')

In [3]:
type(my_string)

str

## Assignation dynamique de type
* On peut modifier dynamiquement le type des variables

In [163]:
my_string = 5.0
type(my_string)

TypeError: ignored

In [0]:
my_int1 = 1
my_int2 = 3
my_float1 = 4.2
my_bool = True
my_string1 = '5'
my_string2 = '42'
my_string3 = "hello world!"

In [6]:
whos

Variable     Type     Data/Info
-------------------------------
my_bool      bool     True
my_float     float    1.23
my_float1    float    4.2
my_int       int      3
my_int1      int      1
my_int2      int      3
my_string    float    5.0
my_string1   str      5
my_string2   str      42
my_string3   str      hello world!

## Opérations de base

In [32]:
#Operations sur un seul type de donnée
print(my_int1 + my_int2,\
      111-69,\
      6*7,\
      (my_int1 + my_int2) * 10 + 2)

4 42 42 42

In [33]:
#Opération compatibles entre types différents (entier, float, booléen)
print(my_int1 + my_float1,\
      my_float1 + my_bool,\
      (my_int1 + my_int2 - 3.5) * 5 / 2)

5.2 5.2 1.25

In [34]:
#Exposant
print(2 ** 42)
#Modulo
print(11%3)

4398046511104
2

In [35]:
#La division entière renvoie un float (contrairement au langage C)
int(8)/int(3)

2.6666666666666665

In [45]:
#Les opérations sur les strings sont des concaténation
my_string2 * my_int2 + ', ' + my_string3 + " Python is awesome."

'424242, hello world! Python is awesome.'

In [37]:
#Les opérations invalides renvoient une erreur (décommenter la ligne suivante pour tester)
my_int1 + my_string1

TypeError: ignored

In [44]:
#Self-operation
toto = 1
toto += 100
toto *= 2
toto -= 76
toto /= 3
toto

42.0

## Conversion de types (casting)

In [50]:
str(my_int1) + my_string1

'25'

In [51]:
my_int1 + int(my_string1)

7

In [56]:
print(  int(3.5)    ,\
        float("3.5") ,\
        str(3.5)     ,\
        int(True)    ,\
        int(False)   ,\
        bool(4.2)    ,\
        bool(-2)     ,\
        bool(0)      )

3 3.5 3.5 1 0 True True False

# Conditions
* test d'égalité: ==
* test d'inégalité: !=
* test de supériorité et infériorité stricte: > et <
* inférieur/supérieur ou égal: <= et >=
* conditions: if, elif, ..., elif, else

In [148]:
a = 42

a == 42  ,\
a != 42  ,\
a > 3    ,\
a <= 42  ,\
a is 42  ,\
a is not 42

(True, False, True, True, True, False)

In [29]:
print(not True)

print((a > 41) and (a < 43))

print((a == 42) or (a == 43))

False
True
True

* conditions en chaîne: if, else
* Attention à l'**indentation** et au symbole **":"** ! Ce qui est indenté après le symbole ":" dépend de la condition

In [30]:
condition = True
#condition = a == 43

if condition:
  print("C'est vrai!")
  
if condition == True:
  print("C'est vraiment vrai!")
  
if condition == False:
  print("C'est faux!")
  
if not condition:
  print("Ce n'est pas vrai!")

C'est vrai!
C'est vraiment vrai!

In [0]:
condition = True
#condition = a == 43

if condition:
  print("C'est vrai!")  
else:
  print("Ce n'est pas vrai!")

In [0]:
a = -1

if a < 0:
  pass#sortie d'une condition
elif a < 5:
	print("a est plus petit que 5")
elif a <= 10:
	print("a est plus petit ou égal à 10")
else:
	print("a est plus grand que 10")

# Boucles
* while: on continue tant qu'on respecte une condition
* for: on boucle itérativement sur un ensemble d'éléments

In [189]:

count = 0
while count < 5:
	print("Je suis dans une boucle while depuis " + str(count) + " itérations")
	count += 1
  

count = 0
while True:
	
  count += 1
  
  if count == 5:
    print("Ca fait déjà 5!")
    continue #continuer directement la suite de la boucle
    
  print(count)

  if count >= 10:
    break #sortie d'une boucle

Je suis dans une boucle while depuis 0 itérations
Je suis dans une boucle while depuis 1 itérations
Je suis dans une boucle while depuis 2 itérations
Je suis dans une boucle while depuis 3 itérations
Je suis dans une boucle while depuis 4 itérations
1
2
3
4
Ca fait déjà 5!
6
7
8
9
10

In [190]:
for i in range(0, 5):

  print("Je suis à l'itération", i)

Je suis à l'itération 0
Je suis à l'itération 1
Je suis à l'itération 2
Je suis à l'itération 3
Je suis à l'itération 4

In [191]:
#Estimation de pi: pi ~ 4*(1-1/3+1/5-1/7+1/9-...)


k=3
series=1

for i in range(10):
  
    series = series - 1/k + 1/(k+2)
    k+=4
    
    #estimations successives de pi
    pi = 4*series
    print(pi, end = ' ')

print('')
print(pi)

3.466666666666667 3.3396825396825403 3.2837384837384844 3.2523659347188767 3.232315809405594 3.2184027659273333 3.208185652261944 3.200365515409549 3.1941879092319425 3.189184782277596
3.189184782277596

# Attention à la syntaxe et à l'indentation !
* L'interpréteur Python renvoie une erreur si la syntaxe n'est pas valide
* L'indentation permet de contrôler le flux du code

In [69]:
#Une condition sans symbole ":" et sans code indenté après est invalide
toto = 1
if toto < 42
toto += 3

print(toto)

if toto < 42:
  toto *= 10
#Un code non-indenté entre un if et un else est invalide
print(toto)
else:
  toto = toto - 2
  
for i in range(3)
  
  if toto+i == 42:
    
    #un retour à la ligne avant le fin d'une instruction est invalide. Le symbole "\" permet de découper une instruction sur plusieurs lignes
    print(toto,
         toto+i)

SyntaxError: ignored

In [70]:
#Une condition sans symbole ":" et sans code indenté après est invalide
toto = 1
if toto < 42:
  toto += 3

print(toto)

if toto < 42:
  toto *= 10
  #Un code non-indenté entre un if et un else est invalide
  print(toto)
else:
  toto = toto - 2
  
for i in range(3):
  
  if toto+i == 42:
    #un retour à la ligne avant le fin d'une instruction est invalide. Le symbole "\" permet de découper une instruction sur plusieurs lignes
    print(toto,\
         toto+i)

4
40
40 42

# Récapitulatif des mots-clés et types de données de base

In [0]:
#Types de base
42 #entier
4.2 #float
'42' ou "42" #string
True False #booléens

#Opérateurs
is
in
not
and
or

#Boucles
for
while

#Conditions
if
elif
else

pass	#Sortie de condition 
break #sortie de boucle

#Fonctions de base
print
range
type

#Fonctions de conversion de base
int
float
bool
str