<a href="https://colab.research.google.com/github/titsitits/UNamur_Python_Analytics/blob/master/2_Advanced_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mickaël Tits
CETIC
mickael.tits@cetic.be

# Gestion d'exceptions

In [27]:
infinity = 1/0

ZeroDivisionError: ignored

In [29]:
try:
  infinity = 1/0
except Exception as e:
  print(e)
  infinity = 10**1000
  
print(infinity)

division by zero
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

# Fonctions

* Les fonctions permettent de rendre le code modulaire (on ne réécrit pas 50x la même chose)
* "return" permet de renvoyer un résultat de la fonction et de sortir de la fonction

In [1]:
def factorial(n):
  
  """
  Cette fonction permet de calculer le factoriel de n
  """
  
  f = 1

  for i in range(1,n+1): 
    f = f * i 

  return f

print(factorial(2), factorial(3), factorial(20) )

2 6 2432902008176640000

* Les variables définies dans une fonction n'existe que lors de l'exécution de cette fonction
* Les traitements effectués sur les variables ne sont valables que durant l'éxécution de la fonction

In [39]:
x = 1
y = 2

def my_function():  
   
  print('x inside function =', x) #utilise la variable définie en-dehors de la fonction  

  try:
    print(y)
  except Exception as exc:
    print(exc)
  #print(y) #renvoie une erreur car une fonction locale du même nom est déclarée après  
  y = 4
  print('y inside function =', y) #imprime la variable locale
  
  z = 3 
  print('z inside function =', z) #imprime la variable locale
  

my_function()


print('x outside function =', x)
print('y outside function =', y)
try:
  print(z)
except Exception as exc:
  print(exc)
#print(z) # renvoie une erreur car la variable n'est pas définie en-dehors de la fonction

x inside function = 1
local variable 'y' referenced before assignment
y inside function = 4
z inside function = 3
x outside function = 1
y outside function = 2
name 'z' is not defined

# Collections de données

## Les listes
* Séquence (collection ordonnée) de données

In [0]:
#Pour déclarer une liste d'élément, on utilise des crochets []
my_list = [1, 3, 5, 7]
my_list

[1, 3, 5, 7]

In [0]:
# Une liste peut contenir différents types de données
my_list2 = [3.14, 42, my_list, True, 'Hello World!']
my_list2

[3.14, 42, [1, 3, 5, 7], True, 'Hello World!']

In [0]:
#La fonction len() permet de connaître la longueur d'une liste
len(my_list)

4

### Accès aux données d'une liste
* L'opérateur [x] permet d'accéder aux éléments d'une liste
* Attention: l'indexation commence à 0
* Une erreur est renvoyée si l'indice est invalide
* Un indice négatif démarre de la fin de la liste
* Le symbole ":" permet d'accéder à plusieurs éléments consécutifs

In [0]:
my_list[0]

1

In [0]:
my_list[2]

5

In [0]:
#Une erreur est obtenue si l'indice est invalide
#my_list[4]

In [0]:
#Un indice négatif part de la fin d'une liste
my_list[-1], my_list[-2]

(7, 5)

In [0]:
#On peut accéder à plusieurs éléments d'une liste en utilisant un colon (:)
print(my_list[1:3]) #permet d'accéder aux éléments entre les indices 1 et 3 (3 exclu)
print(my_list[1:]) #permet d'accéder aux élements à partir de l'indice 1 (jusqu'au dernier)
print(my_list[:2]) #permet d'accéder aux éléments du premier jusqu'à l'indice 2
print(my_list[:]) #permet d'accéder à tous les éléments
print(my_list[1:4:2]) #permet d'accéder aux éléments de 1 à 4 (4 exclu) par pas de 2

[3, 5]
[3, 5, 7]
[1, 3]
[1, 3, 5, 7]
[3, 7]

### Manipulation de listes
* Addition (+) = concaténation: [1,2] + [3,4] = [1,2,3,4]
* Multiplication (\*) = multiple concaténation: [1,2]\*2 = [1,2,1,2]
* Opération élémentaire => compréhension de liste: [i*4 for i in my_list]

In [0]:
#Additionner des listes résulte en une concaténation
my_list+[4, 5]

[1, 3, 5, 7, 4, 5]

In [0]:
#Naturellement, la multiplication résulte en une multiple concaténation
my_list*2, [0]*10

([1, 3, 5, 7, 1, 3, 5, 7], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [0]:
#On peut modifier les éléments d'une liste (on dit que c'est un objet mutable)
my_list[0] = 42
my_list

[42, 3, 5, 7]

In [0]:
#On ne peut pas additionner un entier à une liste
#my_list + 4

In [0]:
#Pour réaliser une opération sur chaque élément d'une liste, on peut utiliser une boucle for

#%%timeit

my_list_plus_4 = [0]*len(my_list)

for i in range(len(my_list)):
  my_list_plus_4[i] = my_list[i] + 4

my_list_plus_4

[3, 6, 7, -3, 9, 0, 6, 12, -52, 13, 9.3, -0.5]

In [0]:
#Ou

#%%timeit

my_list_plus_4 = [] #liste vide

for item in my_list:
  my_list_plus_4.append(item + 4)
  
my_list_plus_4

The slowest run took 4.88 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 338 ns per loop

In [0]:
#On peut aussi utiliser une "list-comprehension": plus compacte, et plus rapide

#%%timeit

my_list_plus_4 = [i + 4 for i in my_list]
my_list_plus_4

The slowest run took 10.47 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 329 ns per loop

In [0]:
my_list = [-1, 2, 3, -7, 5, -4, 2, 8, -56, 9, 5.3, -4.5]

#Remplacer les nombres négatifs par 0 ?
zero_list = []
for item in my_list:
  if item < 0:
    zero_list.append(0)
  else:
    zero_list.append(item)

print('négatifs remplacés par 0:', zero_list)

#Ou
zero_list = [0 if item < 0 else item for item in my_list]

print('négatifs remplacés par 0, bis:', zero_list)

négatifs remplacés par 0: [0, 2, 3, 0, 5, 0, 2, 8, 0, 9, 5.3, 0]
négatifs remplacés par 0, bis: [0, 2, 3, 0, 5, 0, 2, 8, 0, 9, 5.3, 0]

In [0]:
#Eliminer les nombres négatifs ?
positive_list = [item for item in my_list if item >= 0]
print('négatifs éliminés:', positive_list)

négatifs éliminés: [2, 3, 5, 2, 8, 9, 5.3]

## Les tuples
* ce sont des listes immuables
* A quoi ça sert ? => traitement plus rapide, moins de risque de confusion due à de multiple références d'un objet mutable
* Certains traitements nécessitent des objets immuables et ne peuvent donc pas être utilisés avec des listes. E.g.: les clés d'un dictionnaires

In [0]:
#L'utilisation de parenthèses permet de déclarer un tuple
my_tuple = (1, 3, 5, my_string3)
my_tuple

(1, 3, 5, 'hello world!')

In [0]:
# Les parenthèses sont conventionnelles mais ne sont cependant pas nécessaires
my_tuple = 1, 3, 5, my_string3
my_tuple

(1, 3, 5, 'hello world!')

In [0]:
my_tuple[0]

1

In [0]:
#On ne peut pas modifier les éléments d'un tuple, on dit que c'est un "objet immuable" (immutable en anglais). La ligne suivante donne donc une erreur
#my_tuple[0] = 2

In [0]:
my_list = [-1, 2, 3, -7, 5, -4, 2, 8, -56, 9, 5.3, -4.5]
my_tuple = tuple(my_list)

In [0]:
%timeit my_list = [-1, 2, 3, -7, 5, -4, 2, 8, -56, 9, 5.3, -4.5]
%timeit my_tuple = (-1, 2, 3, -7, 5, -4, 2, 8, -56, 9, 5.3, -4.5)

10000000 loops, best of 3: 74.2 ns per loop
100000000 loops, best of 3: 12 ns per loop

In [0]:
string1 = "Salut"
string2 = string1
string2

'Salut'

In [0]:
string2 = string2.lower()

In [0]:
string1

'Salut'

## Les dictionnaires
* Les dictionnaires sont des collection de données de type paire clé/valeur

In [0]:
my_dict = { "Prénom":"Paul", "Nom": "Pasteur", "Adresse (GPS)": (50.5,4.6), "Adresse postale": "Rue de l'Eglise 4", "Enfants":[ "Jacques", "Raoul", "Roland"], 1:my_float1 }
print(my_dict)
print(my_dict['Prénom'])

#ajouter une paire clé/valeur:
my_dict['Age'] = 42

print(my_dict)

for key in my_dict:
  print(key, ' - ', my_dict[key])

{'Prénom': 'Paul', 'Nom': 'Pasteur', 'Adresse (GPS)': (50.5, 4.6), 'Adresse postale': "Rue de l'Eglise 4", 'Enfants': ['Jacques', 'Raoul', 'Roland'], 1: 4.2}
Paul
{'Prénom': 'Paul', 'Nom': 'Pasteur', 'Adresse (GPS)': (50.5, 4.6), 'Adresse postale': "Rue de l'Eglise 4", 'Enfants': ['Jacques', 'Raoul', 'Roland'], 1: 4.2, 'Age': 42}
Prénom  -  Paul
Nom  -  Pasteur
Adresse (GPS)  -  (50.5, 4.6)
Adresse postale  -  Rue de l'Eglise 4
Enfants  -  ['Jacques', 'Raoul', 'Roland']
1  -  4.2
Age  -  42

In [0]:
is_string = [type(my_dict[key]) is str for key in my_dict]
print(is_string)

[True, True, False, True, False, False, False]

## Les String sont des collections de données du même type
* le string est une séquence (une collection ordonnée) de caractères
* il existe de nombreuses méthodes spécifiques aux string

In [0]:
my_fruit = "Noix de coco"

print(my_fruit[0])

#On peut convertir un string en une autre collection simple (e.g., une liste)
print(list(my_fruit))

print( my_fruit.lower() )

print( my_fruit.split(' ') )

N
['N', 'o', 'i', 'x', ' ', 'd', 'e', ' ', 'c', 'o', 'c', 'o']
noix de coco
['Noix', 'de', 'coco']

## Un opérateur spécial: "in"
* for i in [0,1,2,3]: itération sur chaque élément de la collection
* if "n" in ["n","o","i","x"]: permet de vérifier la condition qu'un élément soit dans une collection

In [0]:
fruit_list = ['Noix de coco','noix de cajou','pomme','noisette','noix de pécan']

noix = []

for fruit in fruit_list:
  if 'noix' in fruit:
    noix.append(fruit)

print(noix)
#Ou
noix = [fruit for fruit in fruit_list if 'noix' in fruit]

print(noix)

['noix de cajou', 'noix de pécan']
['noix de cajou', 'noix de pécan']

# Un exemple concret: Natural Language Processing (NLP)

In [7]:
#extract singular versions of words in text (defaults plurals and exceptions are used, but you can override default rules)
def singulize(string, pluriels = None, exceptions = None):
  
  """
  Extract singular versions of words in text (defaults plurals and exceptions are used, but you can override default rules)
  Default plurals: {'ois':'ois','s':'','eaux':'eau','aux':'al','x':''}
  Default exceptions: {'os':'os','chacals':'chacal','souris':'souris','rabais':'rabais','prix':'prix', 'taux':'taux','rhinoceros':'rhinoceros','jus':'jus','noix':'noix','mais':'mais'}

  """

  #singulize (french ad-hoc method...)
  #règles du pluriel
  if pluriels is None:
      pluriels = {'ois':'ois','s':'','eaux':'eau','aux':'al','x':''}
  #exceptions
  if exceptions is None:
      exceptions = {'os':'os','chacals':'chacal','souris':'souris','rabais':'rabais','prix':'prix', 'taux':'taux','rhinoceros':'rhinoceros','jus':'jus','noix':'noix','mais':'mais'}

  def singulize_word(word):

      if word in exceptions:

          return exceptions[word]

      isplural = [word.endswith(k) for k in pluriels]

      if any(isplural):

          #take first key
          keyid = isplural.index(True)
          key = list(pluriels)[keyid]

          #to replace last occurence, we reverse all strings and replace first occurrence
          return word[::-1].replace(key[::-1], pluriels[key][::-1], 1)[::-1]

      return word

  return ' '.join([singulize_word(word) for word in string.split()])



#remove stopwords from text (defaults stopwords are used but you can override default rules)
def remove_stopwords(string, stopwords = None):
      
  """
  Remove stopwords from text (defaults stopwords are used but you can override default rules)
  Default stopwords: ['de','du','le','les','aux','la','des', 'a', 'une', 'un', 'au','d','l']
  """
  #remove stopwords
  if stopwords is None:
      stopwords = ['de','du','le','les','aux','la','des', 'a', 'une', 'un', 'au','d','l']

  string = string.replace("d'","")
  string = string.replace("l'","")        
  return ' '.join([word for word in string.split() if word not in (stopwords)])




sentence1 = "cake à la banane noix de cajou"
sentence2 = "cakes aux bananes et aux noix de cajou"

sentence1 = singulize( remove_stopwords(sentence1) )
sentence2 = singulize( remove_stopwords(sentence1) )

print(sentence1)
print(sentence2)

if sentence1 == sentence2:
  print("Les phrases sont identiques")

cake à banane noix cajou
cake à banane noix cajou
Les phrases sont identiques

#Objets

## Objets de base: mutables et immuables

In [0]:
#La plupart des types de base sont immuables (int, float, bool, string, tuple)

my_int1 = 1
#On crée une nouvelle étiquette (référence) vers l'objet 1
my_int2 = my_int1

print( id(my_int1) , id(my_int2) )

#L'objet entier est immuable, donc lorsqu'on veut modifier my_int2, l'objet 1 n'est pas modifié en mémoire. A la place, l'étiquette "my_int2" est réassignée vers un nouvel objet en mémoire (en l'occurrence un objet de type entier et de valeur égale à 2)
my_int2 += 1

print( id(my_int1) , id(my_int2) )

10968800 10968800
10968800 10968832

In [0]:
#Les liste sont des objets mutables, contrairement aux types de base et aux tuples


my_list1 = [1,2,3,4]
my_list2 = my_list1
my_list2[0] = 0
my_list2.append(5)

print(my_list1,  my_list2)

#En fait, la variable "my_list1" est une étiquette vers un objet (une liste dans ce cas) un mémoire. "my_list2" pointe vers le même objet.
print(id(my_list1), id(my_list2))

[0, 2, 3, 4, 5] [0, 2, 3, 4, 5]
139790268838664 139790268838664

In [0]:
my_list2 += [1]

print(my_list1,  my_list2)
print(id(my_list1), id(my_list2))

[0, 2, 3, 4, 5, 1] [0, 2, 3, 4, 5, 1]
139790268838664 139790268838664

In [0]:
#Opérateur "=" : réassignation de la variable "my_list2" vers un autre objet
my_list2 = [1]

print(my_list1,  my_list2)
print(id(my_list1), id(my_list2))

[0, 2, 3, 4, 5, 1] [1]
139790268838664 139790268838856

In [0]:
#Les dictionnaires sont aussi des objets mutables

#Création d'un dictionnaire en utilisant des accolades {}
my_dict1 = {'a':1,'b':2}

#Nouvelle référence vers le même dictionnaire
my_dict2 = my_dict1

#Modification du dictionnaire
my_dict2['c'] = 3

print(my_dict1)

{'a': 1, 'b': 2, 'c': 3}

## Les Classes
* Les classes permettent de créer des nouveaux types d'objets

In [0]:
# Type de données personnalisé ?


class personne:
  
  #cette méthode est appelée par défaut lorsqu'on crée un nouvel objet (une instance) de cette classe
  def __init__(self, prenom, nom, age):
    
    #On crée les attributs de la classe
    self.prenom = prenom
    self.nom = nom
    self.age = age

  #Les méthodes d'une classe sont des fonctions internes qui permettent d'effectuer des traitements qui peuvent faire intervenir les attributs de la classe
  def display(self):
    
    print("Je m'appelle %s %s et j'ai %d ans" % (self.prenom, self.nom, self.age))

#On crée un nouvel objet de type personne
paul = personne("Paul","Pasteur", 42)

print( type(paul) )

#On appelle une méthode de cet objet
paul.display()

#L'objet est mutable donc on crée ici une référence vers le même objet
pierre = paul
pierre.prenom = "Pierre"

paul.display()
pierre.display()

<class '__main__.personne'>
Je m'appelle Paul Pasteur et j'ai 42 ans
Je m'appelle Pierre Pasteur et j'ai 42 ans
Je m'appelle Pierre Pasteur et j'ai 42 ans

In [0]:
#Pour créer une copie d'un objet mutable, on peut utiliser un module Python de base: copy.copy
from copy import copy



#On crée un nouvel objet de type personne
paul = personne("Paul","Pasteur", 42)

pierre = copy(paul)
pierre.prenom = "Pierre"

paul.display()
pierre.display()

Je m'appelle Paul Pasteur et j'ai 42 ans
Je m'appelle Pierre Pasteur et j'ai 42 ans

In [0]:

paul.job = "pasteurisateur"
print(paul.job)

pasteurisateur

In [0]:
id(paul)

139790258940280