<a href="https://colab.research.google.com/github/titsitits/UNamur_Python_Analytics/blob/master/2_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mickaël Tits
CETIC
mickael.tits@cetic.be

# Collections d'objets
* Les collections de données sont des **objets** de type dit **conteneur**, qui contiennent d'autres objets
* En Python, tout est un **objet** (voir plus loin), même une fonction est considérée comme un objet. On peut ainsi par exemple déclarer une collection de fonctions.

## Les listes
* Séquence (collection ordonnée) de données

In [0]:
#Pour déclarer une liste d'élément, on utilise des crochets []
my_list = [1, 3, 5, 7]
my_list

[1, 3, 5, 7]

In [0]:
# Une liste peut contenir différents types de données
my_list2 = [3.14, 42, my_list, True, 'Hello World!']
my_list2

[3.14, 42, [1, 3, 5, 7], True, 'Hello World!']

In [0]:
#La fonction len() permet de connaître la longueur d'une liste
len(my_list)

4

### Accès aux données d'une liste
* L'opérateur [x] permet d'accéder aux éléments d'une liste
* Attention: l'indexation commence à 0
* Une erreur est renvoyée si l'indice est invalide
* Un indice négatif démarre de la fin de la liste
* Le symbole ":" permet d'accéder à plusieurs éléments consécutifs

In [0]:
my_list[0]

1

In [0]:
my_list[2]

5

In [0]:
#Une erreur est obtenue si l'indice est invalide
#my_list[4]

In [0]:
#Un indice négatif part de la fin d'une liste
my_list[-1], my_list[-2]

(7, 5)

In [0]:
#On peut accéder à plusieurs éléments d'une liste en utilisant un colon (:)
print(my_list[1:3]) #permet d'accéder aux éléments entre les indices 1 et 3 (3 exclu)
print(my_list[1:]) #permet d'accéder aux élements à partir de l'indice 1 (jusqu'au dernier)
print(my_list[:2]) #permet d'accéder aux éléments du premier jusqu'à l'indice 2
print(my_list[:]) #permet d'accéder à tous les éléments
print(my_list[1:4:2]) #permet d'accéder aux éléments de 1 à 4 (4 exclu) par pas de 2

[3, 5]
[3, 5, 7]
[1, 3]
[1, 3, 5, 7]
[3, 7]

### Manipulation de listes
* Addition (+) = concaténation: [1,2] + [3,4] = [1,2,3,4]
* Multiplication (\*) = multiple concaténation: [1,2]\*2 = [1,2,1,2]
* Opération élémentaire => compréhension de liste: [i*4 for i in my_list]

In [0]:
#Additionner des listes résulte en une concaténation
my_list+[4, 5]

[1, 3, 5, 7, 4, 5]

In [0]:
#Naturellement, la multiplication résulte en une multiple concaténation
my_list*2, [0]*10

([1, 3, 5, 7, 1, 3, 5, 7], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [0]:
#On peut modifier les éléments d'une liste (on dit que c'est un objet mutable)
my_list[0] = 42
my_list

[42, 3, 5, 7]

In [0]:
#On ne peut pas additionner un entier à une liste
#my_list + 4

In [0]:
#Pour réaliser une opération sur chaque élément d'une liste, on peut utiliser une boucle for

#%%timeit

my_list_plus_4 = [0]*len(my_list)

for i in range(len(my_list)):
  my_list_plus_4[i] = my_list[i] + 4

my_list_plus_4

[46, 7, 9, 11]

In [0]:
#Ou

#%%timeit

my_list_plus_4 = [] #liste vide

for item in my_list:
  my_list_plus_4.append(item + 4)
  
my_list_plus_4

[46, 7, 9, 11]

In [0]:
#On peut aussi utiliser une "list-comprehension": plus compacte, et plus rapide

#%%timeit

my_list_plus_4 = [i + 4 for i in my_list]
my_list_plus_4

[46, 7, 9, 11]

In [0]:
my_list = [-1, 2, 3, -7, 5, -4, 2, 8, -56, 9, 5.3, -4.5]

#Remplacer les nombres négatifs par 0 ?
zero_list = []
for item in my_list:
  if item < 0:
    zero_list.append(0)
  else:
    zero_list.append(item)

print('négatifs remplacés par 0:', zero_list)

#Ou
zero_list = [0 if item < 0 else item for item in my_list]

print('négatifs remplacés par 0, bis:', zero_list)

négatifs remplacés par 0: [0, 2, 3, 0, 5, 0, 2, 8, 0, 9, 5.3, 0]
négatifs remplacés par 0, bis: [0, 2, 3, 0, 5, 0, 2, 8, 0, 9, 5.3, 0]

In [0]:
#Eliminer les nombres négatifs ?
positive_list = [item for item in my_list if item >= 0]
print('négatifs éliminés:', positive_list)

négatifs éliminés: [2, 3, 5, 2, 8, 9, 5.3]

## Les tuples
* ce sont des listes immuables
* A quoi ça sert ? => traitement plus rapide, moins de risque de confusion due à de multiple références d'un objet mutable
* Certains traitements nécessitent des objets immuables et ne peuvent donc pas être utilisés avec des listes. E.g.: les clés d'un dictionnaires

In [0]:
#L'utilisation de parenthèses permet de déclarer un tuple
my_tuple = (1, 3, 5, 'Hello World!')
my_tuple

(1, 3, 5, 'Hello World!')

In [0]:
# Les parenthèses sont conventionnelles mais ne sont cependant pas nécessaires
my_tuple = 1, 3, 5, 'Hello World!'
my_tuple

(1, 3, 5, 'Hello World!')

In [0]:
my_tuple[0]

1

In [0]:
#On ne peut pas modifier les éléments d'un tuple, on dit que c'est un "objet immuable" (immutable en anglais). La ligne suivante donne donc une erreur
#my_tuple[0] = 2

In [0]:
my_list = [-1, 2, 3, -7, 5, -4, 2, 8, -56, 9, 5.3, -4.5]
my_tuple = tuple(my_list)

In [0]:
%timeit my_list = [-1, 2, 3, -7, 5, -4, 2, 8, -56, 9, 5.3, -4.5]
%timeit my_tuple = (-1, 2, 3, -7, 5, -4, 2, 8, -56, 9, 5.3, -4.5)

10000000 loops, best of 3: 76 ns per loop
100000000 loops, best of 3: 12.1 ns per loop

In [0]:
string1 = "Salut"
string2 = string1
string2

'Salut'

In [0]:
string2 = string2.lower()

In [0]:
string1

'Salut'

## Les dictionnaires
* Les dictionnaires sont des collection de données de type paire clé/valeur

In [0]:
my_dict = { "Prénom":"Paul", "Nom": "Pasteur", "Adresse (GPS)": (50.5,4.6), "Adresse postale": "Rue de l'Eglise 4", "Enfants":[ "Jacques", "Raoul", "Roland"], 1:my_float1 }
print(my_dict)
print(my_dict['Prénom'])

#ajouter une paire clé/valeur:
my_dict['Age'] = 42

print(my_dict)

for key in my_dict:
  print(key, ' - ', my_dict[key])

In [0]:
is_string = [type(my_dict[key]) is str for key in my_dict]
print(is_string)

## Les String sont des collections de données du même type
* le string est une séquence (une collection ordonnée) de caractères
* il existe de nombreuses méthodes spécifiques aux string

In [0]:
my_fruit = "Noix de coco"

print(my_fruit[0])

#On peut convertir un string en une autre collection simple (e.g., une liste)
print(list(my_fruit))

print( my_fruit.lower() )

print( my_fruit.split(' ') )

## Un opérateur spécial: "in"
* for i in [0,1,2,3]: itération sur chaque élément de la collection
* if "n" in ["n","o","i","x"]: permet de vérifier la condition qu'un élément soit dans une collection

In [0]:
fruit_list = ['Noix de coco','noix de cajou','pomme','noisette','noix de pécan']

noix = []

for fruit in fruit_list:
  if 'noix' in fruit:
    noix.append(fruit)

print(noix)
#Ou
noix = [fruit for fruit in fruit_list if 'noix' in fruit]

print(noix)